<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="productSlider.css">
    <script src="productSlider.js"></script>
</head>
<body>
    <!-- contenedor padre -->
    <section class="slider">
        <!-- contenedor de los sliders -->
        <div class="slider_container container">
            <i class="slider_arrow" id="before">izq</i>
            <!-- Seccion que contiene las imagenes -->
            <section class="slider_body slider_body-show" data-id="1">
                <figure>
                    <img src="Zombatar_1.jpg" alt="" class="slider-img">
                </figure>
            </section>
            <!-- Fin de seccion -->

            <section class="slider_body" data-id="2">
                <figure>
                    <img src="Fondo-blaze04.jpg" alt="" class="slider-img">
                </figure>
            </section>

            <section class="slider_body" data-id="3">
                <figure>
                    <img src="Zombatar_1.jpg" alt="" class="slider-img">
                </figure>
            </section>

            <i class="slider_arrow" id="next">der</i>
        </div>
    </section>
</body>
</html>