<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Footer -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/adc0842e66.js" crossorigin="anonymous"></script>
    <!-- Style sheets -->
    <link rel="stylesheet" href="/css/detalle.css">
    <title>Detalle de producto</title>
</head>

<body>
  <main>
    <div class="box_division">
        
                <p class="cantidad_vendida">Nuevo | 1500 vendidos</p>
                <h4 class="producto_venta">Kit Reparacion Bicicleta Bici Parche Solución Llaves Estuche</h4>
                <button class="mas_vendido">Mas vendido</button>
                <span class="numero_1">1º en kits de herramientas</span>
      </div>
<hr>
       
      <div class="box1">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/Kit-bici-2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/Kit-bici-1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/34.webp" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>

         
            
            <div class="p-detalles">
              <select name="cantidad" id="cantidad_1">
                <option value="1">cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="1">3</option>
                <option value="2">4</option>
                <option value="1">5</option>
                <option value="2">Mas de 5</option>
              </select>
            <p class="precio_anterior">$5.500</p>
            <p class="precio_2">$1899<span class="descuento_off">   10% OFF
            </span></p>
            <P>En 6 cuotas sin interes de $316⁶⁶ Pagando con tarjetas Visa</P>
            <li class="linkacesso">ver medios de pago</li>
       
       
      


        <div>
            <i class="fa-solid fa-truck"></i>
            <span class="llegahoy">Llega Hoy </span>
            <span class="`precio_envio">$250</span>
            <p>comprando en las proximas 24hs</p>
            <li class="linkacesso">ver mas formas de entrega</li>
        </div>


        <div>
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <span class="dias">tenes 30 dias desde que lo recibis, puedes devolverlo desde tu correo mas
                cercano</span>
        </div>
<br>
        
        

        <div>
          <button class="ahora_comprar"><a href="productCard.html">Comprar ahora</a></button>
            <button class="boton_agregaralcarrito">Agregar al carrito</button>
            
            
        </div>
        <div>
            <i class="fa-solid fa-shield"></i>
            <span class="protegida">compra protegida, recibi el producto que esperabas o te devolvemos el
                dinero.</span>
              </div>
      </div>   
           </div>
           <hr> 
           <details>
             <h6>DESCRIPCION</h6>
             <P class="descripcion">
               ////////////////////////////////////////////////////////////////
               
               
               - Estuche Contenedor.
               - 1 Mini Inflador.
               - 2 Palancas de Cubiertas.
               - 1 Llave.
               - Kit de Parches y Solución en Cajita Contenedora.
               - Herramienta Multifunción 16 en 1:
               - Pico Inflables
               - Pico Pelota
               Llaves Allen: 2 mm - 2,5 mm - 3 mm - 4 mm - 5 mm - 6 mm.
               Llaves de vaso: 8 mm - 9 mm - 10 mm.
               Tipo de ranura destornillador.
               Destornillador Phillips.
               Barra extensora de zócalo.
               Destornillador plano 8 mm - 10 mm - 15 mm.
               Llave hexagonal interior 2 mm - 3 mm - 4 mm - 5 mm - 2,5 mm -
               5 mm - 6 mm.
               Llave de radios.
               - Fácil de transportar y cómodo de usar. Ligero, conveniente para colgar en el vástago de su bicicleta.
               - Estuche Color Negro.
               - Material: ABS y acero inoxidable.
               - Peso aproximado: 608 gr.
               
               - TODOS LOS ARTICULOS QUE PUEDE VEN EN LA PORTADA SON LOS QUE TRAE SU COMPRA -
               
               
               ////////////////////////////////////////////////////////////////
               30 DÍAS DE PRUEBA:
               
               Recibí el producto que esperabas o te devolvemos tu dinero.
               Calidad asegurada en todos nuestros productos.</P>
           </details>
              
<hr>





<section class="dos_caja">
  <h2>productos destacados:</h2>
  <div class="card-group">
    <div class="card">
      <img src="/images/bici_niña1.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bicicleta infantil Raleigh Jazzi R20 frenos v-brakes color rosa/blanco con pie de apoyo</h5>
        <p class="card-text">$30.500 <small>15% OFF</small></p>
        <button>ver detalle</button>
      </div>
    </div>
    <div class="card">
      <img src="/images/ASIENTO.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ASIENTO PARA BICILETA</h5>
        <p class="card-text">$10.000</p>
        <button>ver detalle</button>
      </div>
    </div>
    <div class="card">
      <img src="/images/Bici-niño-1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bicicleta Infantil Rainbow Rodado 12</h5>
        <p class="card-text">$22.999 <small>30% OFF</small></p>
        <button>ver detalle</button>
      </div>
    </div>
  </div>
</section>

<section class="dos_caja">
  <h2> Quienes vieron este producto, comrpraron lo siguiente</h2>
  <div class="card-group">
    <div class="card">
      <img src="/images/casco1.webp" class="card-img-top" alt="...">
      <br>
      <div class="card-body">
        <h5 class="card-title">Casco Mtb Kuest Bicicleta Regulable Certificado Proteccion</h5>
        <p class="card-text">$2.500 <small>15% OFF</small></p>
        <button>ver detalle</button>
      </div>
    </div>
    <div class="card">
      <img src="/images/inflADOR DE MANO1.webp" class="card-img-top" alt="...">
      <br>
      <div class="card-body">
        <h5 class="card-title">Inflador De Pie Con Manómetro Bulit Serie 600</h5>
        <p class="card-text">$3.950</p>
        <button>ver detalle</button>
      </div>
    </div>
    <div class="card">
      <img src="/images/SEGURIDADBICI.webp" class="card-img-top" alt="...">
      <br>
      <div class="card-body">
        <h5 class="card-title">Cadena Máxima Seguridad Bulit</h5>
        <p class="card-text">$22.999 <small>30% OFF</small></p>
        <button>ver detalle</button>
      </div>
    </div>
  </div>
</section>


    </main>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>