<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="public/css/footer.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="https://kit.fontawesome.com/adc0842e66.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer>
      
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon.com></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>

        </ul>
        <ul class="menu">
            <li><a href="#">MercadoPago</a></li>
            <li><a href="#"> Master Card</a></li>
            <li><a href="#">Visa</a></li>
            <li><a href="#">PayPal</a></li>
            <li><a href="#">PagoFacil</a></li>
        </ul>
        <p>Comision 13 - Grupo 11 - &#169; Derechos Reservados.</p>
    </footer>
</body>
</html>