<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Bikesmasters</title>
</head>
<body>
    <main>
        <div class="banner">
            <img src="/images/Banner-1.svg" alt="banner">
        </div>
        <div class="titulo-seccion">  
            <h3>Ofertas</h3>
        </div>
        <section>
            <article>
                <div class="img-producto">
                    <img src="/images/BIci-Coluer-Limbo-296.jpg" alt="Couler Limbo">
                    <p class="sale-off">13% Off</p>
                </div>
                <p>Bicicleta Coluer Limbo 296 2022</p>
                <p class="precio">$126.600</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/Bici-MTB-1.jpg" alt="Bicicleta Mountainbike">
                    <p class="sale-off">15% Off</p>
                </div>
                <p>Bicicleta Mtb Vairo Xr 3.5 R29 Bloqueo Disco</p>
                <p class="precio">$92.497</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/BIci-MTB-2.jpg" alt="Bicicleta Mountainbike">
                    <p class="sale-off">10% Off</p>
                </div>
                    <p>Mountain bike femenina Olmo Wish 265 18" 21v con cambios Shimano Tourney TY 300 y Shimano TZ-31</p>
                    <p class="precio">$51999</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/Bici-paseo-dama-1.jpg" alt="Bicicleta de paseo">
                    <p class="sale-off">10% Off</p>
                </div>
                    <p>Bicicleta paseo femenina Futura Country R26 frenos v-brakes color turquesa con pie de apoyo</p>
                    <p class="precio">$35999</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/Bici-niño-1.png" alt="Bicicleta niño">
                    <p class="sale-off">12% Off</p>
                </div>
                    <p>Bicicleta infantil SLP Max frenos v-brakes con ruedas de entrenamiento</p>
                    <p class="precio">$24499</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/Kit-bici-1.png" alt="Kit bicicleta">
                    <p class="sale-off">5% Off</p>
                </div>
                    <p>Kit Transmision Bicicleta Mtb Shimano Mountain 21v 3x7</p>
                    <p class="precio">$13499</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/Kit-bici-2.png" alt="Kit bicicleta">
                    <p class="sale-off">10% Off</p>
                </div>
                    <p>Kit Reparacion Bicicleta Bici Parche Solución Llaves Estuche</p>
                    <p class="precio">$1899</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/Kit-bici-2.png" alt="Kit bicicleta">
                    <p class="sale-off">10% Off</p>
                </div>
                    <p>Kit Reparacion Bicicleta Bici Parche Solución Llaves Estuche</p>
                    <p class="precio">$1899</p>
            </article>
        </section>
        <div class="titulo-seccion">
            <h3>Productos destacados</h3>
        </div>
        <section>
            <article>
                <div class="img-producto">
                    <img src="/images/Bici-niño-1.png" alt="Bicicleta niño">
                    <p class="sale-off">12% Off</p>
                </div>
                    <p>Bicicleta infantil SLP Max frenos v-brakes con ruedas de entrenamiento</p>
                    <p class="precio">$24499</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/Bici-paseo-dama-1.jpg" alt="Bicicleta de paseo">
                    <p class="sale-off">10% Off</p>
                </div>
                    <p>Bicicleta paseo femenina Futura Country R26 frenos v-brakes color turquesa con pie de apoyo</p>
                    <p class="precio">$35999</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/BIci-Coluer-Limbo-296.jpg" alt="Couler Limbo">
                    <p class="sale-off">13% Off</p>
                </div>
                <p>Bicicleta Coluer Limbo 296 2022</p>
                <p class="precio">$126.600</p>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/Kit-bici-1.png" alt="Kit bicicleta">
                    <p class="sale-off">5% Off</p>
                </div>
                    <p>Kit Transmision Bicicleta Mtb Shimano Mountain 21v 3x7</p>
                    <p class="precio">$13499</p>
            </article>
        </section>
        <div class="titulo-seccion">
            <h3>Categorias populares</h3>
        </div>
        <section class="categorias">
            <div class="img-link">
                <img src="/images/Bicicletas.png" alt="Bicicletas">
                <span><a href="/">Bicicletas</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Kids.png" alt="Kids">
                <span><a href="/">Kids</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Repuestos.png" alt="Repuestos">
                <span><a href="/">Repuestos</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Accesorios.png" alt="Accesorios">
                <span><a href="/">Accesorios</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Indumentaria.png" alt="Indumentaria">
                <span><a href="/">Indumentaria</a></span>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>