<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Bikesmasters</title>
</head>
<body>
    <header></header>
    <main>
        <div class="banner">
            <img src="Banner-1.svg" alt="banner">
        </div>
        <h3>Ofertas</h3>
        <section>
            <article>
                <div class="producto">imagen</div>
                <p>Descripcion</p>
                <p>Precio: $$$$</p>
                <a href="/">Agregar al carrito</a>
            </article>
            <article>
                <div class="producto">imagen</div>
                <p>Descripcion</p>
                <p>Precio: $$$$</p>
                <a href="/">Agregar al carrito</a>
            </article>
            <article>
                <div class="producto">imagen</div>
                <p>Descripcion</p>
                <p>Precio: $$$$</p>
                <a href="/">Agregar al carrito</a>
            </article>
            <article>
                <div class="producto">imagen</div>
                <p>Descripcion</p>
                <p>Precio: $$$$</p>
                <a href="/">Agregar al carrito</a>
            </article>
        </section>
        <h3>Productos destacados</h3>
        <section>
            <article>
                <div class="producto">imagen</div>
                <p>Descripcion</p>
                <p>Precio: $$$$</p>
                <a href="/">Agregar al carrito</a>
            </article>
            <article>
                <div class="producto">imagen</div>
                <p>Descripcion</p>
                <p>Precio: $$$$</p>
                <a href="/">Agregar al carrito</a>
            </article>
            <article>
                <div class="producto">imagen</div>
                <p>Descripcion</p>
                <p>Precio: $$$$</p>
                <a href="/">Agregar al carrito</a>
            </article>
            <article>
                <div class="producto">imagen</div>
                <p>Descripcion</p>
                <p>Precio: $$$$</p>
                <a href="/">Agregar al carrito</a>
            </article>
        </section>
        <section>
            <h3>Categorias populares</h3>
            <div>imagen: Bicicletas</div>
            <div>imagen: Indumentaria</div>
            <div>Imagen: Repuestos</div>
            <div>Imagen: Accesorios</div>
            <div>Imagen: Kids</div>
        </section>
    </main>
    <footer></footer>
</body>
</html>