<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Footer -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/adc0842e66.js" crossorigin="anonymous"></script>
    <!-- Style sheets -->
    <link rel="stylesheet" href="/css/home.css">
    <title>Bikesmasters</title>
</head>
<body>
    <header>
        <div class="contenedor_header">
            <a href="/"><img src="/images/logo-sinfondo.svg" alt="logo" class="logo"></a>
            <div class="buscador">
                <form action="/search" method="GET" class="search-form">
                    <input type="text" name="keywords" placeholder="Buscar productos" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="botones">
                <button class="carrito" ><a href="productCard.html"><img src="/images/carrito.svg" alt="carrito" class="carrito"></a></button>
                <button class="inicio"><a href="Login.html">Iniciar Sesión</a></button>
                <button class="registrar"><a href="register.html">Registrarse</a></button>
            </div>   
        </div>
                   
        <nav>
            <input type="checkbox" id="menu" class="botton">
            <label for="menu"><i class="fas fa-bars"></i>  </label>
            <ul>
                <li id="app_nav"><a href="register.html">Registrarse</a></li>
                <li id="app_nav"><a href="/">Cuenta</a></li>
                <li id="app_nav"><a href="productCard.html">Carrito</a></li>
                <li><a href="/">Accesorios</a></li>
                <li><a href="/">Bicicletas</a></li>
                <li><a href="/">Fitnes</a></li>
                <li><a href="/">Indumentaria</a></li>
                <li><a href="/">Repuestos</a></li>
                <li><a href="/">Nosotros</a></li>
                <li><a href="/">Consejos</a></li>
               
            </ul>
        </nav>
    </header>

    <main class="home">
        <div class="banner">
            <img src="/images/Banner-1.png" alt="banner">
            <button class="ver-mas"><a href="/">Ver más</a></button>
        </div>
        <div class="titulo-seccion">  
            <h3>Ofertas</h3>
        </div>
        <section>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/BIci-Coluer-Limbo-296.jpg" alt="Couler Limbo"></a>
                    <p class="sale-off">13% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$126.600</p>
                    <p>Bicicleta Coluer Limbo 296 2022</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/Bici-MTB-1.jpg" alt="Bicicleta Mountainbike"></a>                   
                    <p class="sale-off">15% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$92.497</p>
                    <p>Bicicleta Mtb Vairo Xr 3.5 R29 Bloqueo Disco</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/BIci-MTB-2.jpg" alt="Bicicleta Mountainbike"></a>                   
                    <p class="sale-off">10% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$51.999</p>
                    <p>Mountain bike Olmo Wish 265 18" 21v con cambios Shimano Tourney TY 300 y Shimano TZ-31</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/Bici-paseo-dama-1.jpg" alt="Bicicleta de paseo"></a>                    
                    <p class="sale-off">10% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$35.999</p>
                    <p>Bicicleta paseo femenina Futura Country R26 frenos v-brakes con pie de apoyo</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/Bici-niño-1.png" alt="Bicicleta niño"></a>                    
                    <p class="sale-off">12% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$24499</p>
                    <p>Bicicleta infantil SLP Max frenos v-brakes con ruedas de entrenamiento</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/Kit-bici-1.png" alt="Kit bicicleta"></a>
                    <p class="sale-off">5% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$13.499</p>
                    <p>Kit Transmision Bicicleta Mtb Shimano Mountain 21v 3x7</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="detalle.html" class="image-container"><img src="/images/Kit-bici-2.png" alt="Kit bicicleta"></a>
                    <p class="sale-off">10% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$1.899</p>
                    <p>Kit Reparacion Bicicleta Bici Parche Solución Llaves Estuche</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="detalle.html" class="image-container"><img src="/images/Kit-bici-2.png" alt="Kit bicicleta"></a>                   
                    <p class="sale-off">10% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$1.899</p>
                    <p>Kit Reparacion Bicicleta Bici Parche Solución Llaves Estuche</p>
                </div>
            </article>
        </section>
        <div class="titulo-seccion">
            <h3>Productos destacados</h3>
        </div>
        <section>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/Bici-niño-1.png" alt="Bicicleta niño"></a>
                    <p class="sale-off">12% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$24.499</p>
                    <p>Bicicleta infantil SLP Max frenos v-brakes con ruedas de entrenamiento</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/Bici-paseo-dama-1.jpg" alt="Bicicleta de paseo"></a>                   
                    <p class="sale-off">10% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$35.999</p>
                    <p>Bicicleta paseo femenina Futura Country R26 frenos v-brakes con pie de apoyo</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/BIci-Coluer-Limbo-296.jpg" alt="Couler Limbo"></a>                    
                    <p class="sale-off">13% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$126.600</p>
                    <p>Bicicleta Coluer Limbo 296 2022</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <a href="/" class="image-container"><img src="/images/Kit-bici-1.png" alt="Kit bicicleta"></a>                  
                    <p class="sale-off">5% Off</p>
                </div>
                <div class="product-description">
                    <p class="precio">$13.499</p>
                    <p>Kit Transmision Bicicleta Mtb Shimano Mountain 21v 3x7</p>
                </div>
            </article>
        </section>
        <div class="titulo-seccion">
            <h3>Categorias populares</h3>
        </div>
        <section class="categorias">
            <div class="img-link cat1">
                <span><a href="/">Bicicletas</a></span>
            </div>
            <div class="img-link cat2">
                <span><a href="/">Kids</a></span>
            </div>
            <div class="img-link cat3">
                <span><a href="/">Repuestos</a></span>
            </div>
            <div class="img-link cat4">
                <span><a href="/">Accesorios</a></span>
            </div>
            <div class="img-link cat5">
                <span><a href="/">Indumentaria</a></span>
            </div>
        </section>
    </main>
    <footer>
      
        <ul class="social_icon">
            <li><a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon.com></a></li>
            <li><a href="https://twitter.com/?lang=es"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="https://www.instagram.com/?hl=es-la"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="https://www.youtube.com/"><ion-icon name="logo-youtube"></ion-icon></a></li>

        </ul>
        <ul class="menu">
            <li><a href="https://www.mercadopago.com.ar/">MercadoPago</a></li>
          <li><a href="https://www.masterconsultas.com.ar/"> Master Card</a></li>
          <li><a href="https://www.visa.com.ar/">Visa</a></li>
          <li><a href="https://www.paypal.com/">PayPal</a></li>
          <li><a href="https://www.e-pagofacil.com/">PagoFacil</a></li>
        </ul>
        <p>Comision 13 - Grupo 11 - &#169; Derechos Reservados.</p>
    </footer>

</body>
</html>