* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

a#logo-link {
    display: flex;
    height: 100%;
}

i#edit {
    color: cornflowerblue;
}

button.erase {
    border: none;
    margin: 10px auto;
    text-align: center;
    background: none;
    cursor: pointer;
}

button.erase i#trash {
    color: tomato
}

th#add{
    background-color: #FF2E00;;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-bottom: thin solid lightgrey;
}

header .div-logo {
    width: 170px;
    height: 100%;
}

header div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .div-titulo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

/* TABLE */
table {
    table-layout: fixed;
    width: 80vw;
    border-collapse: collapse;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    margin: 50px auto 0px;
}

caption {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem;
}

thead {
    width: 100%;
    background-color: #1B1717 ;
    position: sticky;
    top: 0;
}

thead th{
    width: fit-content;
    color: white;
}

th, td {
    padding: 15px;
    text-align: center;
    font-size: 0.8rem;
}

td i {
    color: black;
    font-size: 1.5rem;
    letter-spacing: 5px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(81, 83, 84, 0.339);
}

tbody tr:nth-child(even) {
    border: thin solid lightgray;
}

tbody td input {
    border: none;
    text-align: center;
    background-color: initial;
    color: black;
}

tbody td input:focus {
    outline: none;
}

tbody td form button#ok {
    border: none;
    text-align: center;
    background-color: #FF2E00;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 120px;
    box-shadow: 0 0 5px rgba(3, 11, 78, 0.811);
    margin-top: 10rem;
    background-color: #1B1717;
}

footer p {
    padding: 5px;
    color: whitesmoke;
}
/* boton categoti */
nav{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
nav ul {
    position: relative;
    top: 1rem;
    left: 0;
    width: 7rem;
    background-color: #1b1717;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation-name: menu-out;
    animation-duration: 0.5s;
    list-style: none;
    transition:opacity 0.5s ease;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    width: auto;
    text-align: center;
    text-transform: uppercase;
}
nav a{
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: rgb(255, 251, 251);
}
nav a:hover{
    background-color: #FF2E00;
    
  }
nav label {
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 3px;
    font-weight: 900;
    color: black;
    cursor: pointer;
    margin-top: 1rem;
}  

nav ul {
    position: absolute;
    top: 10rem;
    display: none;
}
nav label:hover {
    background-color: #FF2E00;
}
 nav input{
    display: none; 
}
@keyframes menu-out{
    0%{
        left: 0;
        opacity: 1;
    }
    100%{
        left: -100%;
        opacity: 0;
    }
}
@keyframes menu-in{
    0%{
        left: -100%;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
nav input:checked ~ ul{
    display: grid;
    flex-direction: column;
    opacity: 1;
    animation-name: menu-in;
    animation-duration: 0.5s;
 
}