
body{
    font-family: 'Roboto', sans-serif;
    height: 90vh;
    background-size: cover;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --naranja: #FF2E00;
    --negro: #1B1717;
}

P.price{
    color: black;
}
p.subtotal{
    /* color: white;
    background: linear-gradient(45deg , #000000, #ff2e00); */
    border-radius: 10px;
}
b{
    color: black;
    background: #ffffff;
    border-radius: 10px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    border-bottom: thin solid lightgrey;
}

header .div-logo {
    width: 170px;
    height: 100%;
}

header div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .div-titulo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}



header nav.menu-barr {
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: space-evenly;
    margin: 43px auto 0;
}


@keyframes show {
    0% {opacity: 0};
    50% {opacity: 0.5};
    100% { opacity: 1;}
}

.main-carrito {
    background-size: contain;
    background-attachment: fixed;
}

.contenedor {
    display: flex;
    width: 100%;
    height: 100%;
}

.img-carrito-producto{
    width: 7%;
    height: 7%;
}

.detalle-pedido{
    height: 70%;
    width: 70%;
}
.section-pedidos{
    border: 0.3px solid black;
    border-radius: 10px;
    background-color: #fcfeff;
}

.info-pedido{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
    
}

.producto-pedido{
    display: none;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    border-bottom: 2px solid #f0428d;

}

.select-cantidad-de-productos{
    background-color: #f44336;
    border-style: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.botones-carrito{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
}

.delete{
    background-color: #f44336;
    border-style: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 4%;
    height: 40px;
    border-radius: 20%;
}

.boton-rosa {
    background-color: #ff0000;
    border-style: none;
    box-shadow: 0px 4px 4px rgb(219 104 129 / 65%);
    width: 30%;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    
}
.boton-rosa a {
    color: white;
}

div.subtotal-div-info button:hover,
div.producto-pedido button:hover{
    background-color: #fa830d;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgb(187 187 187 / 84%);
   
}

.detalle-subtotal{
    width: 23%;
    border-radius: 20px;
    border: 1px solid #0000005c;
}

.subtotal-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.subtotal-div-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 136px;
    margin-left: 5%;
    padding-bottom: 1rem;
 
}

.subtotal-div-info h2{
    text-align: center;
    margin-top: 3%;
}

.subtotal-div-info p{
    text-align: center;
    font-size: 1.5rem;
}

.subtotal-div-info button{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 20px;
    font-size: 1.4rem;
}



@media (max-width: 2560px){
    .contenedor {
        padding: 15px;
        gap: 1rem;
    }
    div.pagos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7rem;
    }
    div.img-contenedor{
        width: 7%;
        height: 5%;
    }
    div.img-contenedor2{
        width: 9%;
        height: 8%;
    }
    div.retiros-pagos{
        display: flex;
        flex-direction: column;
        border-top: solid 2px #0000005c;
        border-bottom: solid 2px #0000005c;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
    }
}

@media (max-width: 1440px){
    .contenedor {
        padding: 15px;
        gap: 1rem;
    }

    .botones-carrito{
        padding-top: 10px;
    }
    
}

@media (max-width: 1000px){
    div.pagos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}
    div.img-contenedor{
        width: 7%;
        height: 5%;
    }
    div.img-contenedor2{
        width: 9%;
        height: 8%;
    }
    div.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    }
    div.detalle-subtotal{
        display: flex;
        width: 80%;
    }
    .subtotal-section{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    div.retiros-pagos {
        border: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: none;
        
    }
    .subtotal-div-info button{
        font-size: 1.1rem;
        width: 100%;
        padding: none;
        justify-content: center;
    }
    p {
        font-size: 12px;
    }

    h2{
        font-size: 16px;
    }

    .delete{
        width: 6%;
        height: 30px;
    }

    .img-carrito-producto{
        width: 10%;
        height: 10%;
    }
}

@media (max-width:750px){
    div.img-contenedor2 {
        width: 18%;
        height: 10%;
    }
    div.pagos{
        display: flex;
        gap: 7rem;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1rem;
        border-top: 1px solid #0000005e;
    }
    .subtotal-div-info button{
        font-size: 1rem;
    }
    .main-carttio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subtotal-div-info button{
        font-size: 0.8rem;

    }
    label#label-retiro{
    font-size: 0.8rem;
    }
    label#label-retiro {
        gap: none;
    }

    .detalle-pedido{
        width: 80%;
    }
   
    .contenedor {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        
    }

    .detalle-pedido {
        height: 100%;
        width: 100%;
    }

    .botones-carrito {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .detalle-subtotal {
        width: 80%;
    }

    .subtotal-div-info {
        margin-left: 2px;
    }
    

    .detalle-subtotal{
        width: 100%;
    }
}   

@media (max-width: 600px){
    div.img-contenedor {
        width: 10%;
        height: 5%;
    }
    div.pagos{
        gap: 0px;
    }
.subtotal-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
div.retiros-pagos {
    border: none;
    border-top: 1px solid #0000005e;
    border-bottom: 1px solid #0000005e;
}
    .subtotal-div-info p {
        text-align: center;
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .img-carrito-producto{
        width: 13%;
        height: 13%;
    }
    
    p {
        font-size: 10px;
    }
}


    .boton-rosa {
        width: 40%;
    }

    .contenedor{
        padding: none;
    }

    .subtotal-div-info {
        padding-bottom: 20px;
        padding-top: 20px;
    }

label#label-retiro{
    text-align: center;
    display: flex;
    align-items: center;
    gap:none;
}
div.retiros{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem;
}


img.pagos{
    width: 100%;
    height: 100%;
   
}
.div-btn-direccion{
    display: flex;
    gap:1rem;
}
.btns-direccion{
    background-color: #ff0000;
    border-style: none;
    box-shadow: 0px 4px 4px rgb(219 104 129 / 65%);
    width: 30%;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
}
div.newDireccion{
    display: flex;
    flex-direction: column;
}