
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(/images/FONDO2.png);
    height: 90vh;
    background-size: cover;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --naranja: #FF2E00;
    --negro: #1B1717;
}

P.price{
    color: black;
}
p.subtotal{
    color: white;
    background: linear-gradient(45deg , #000000, #ff2e00);
    border-radius: 10px;
}
b{
    color: black;
    background: #e91e63;
    border-radius: 10px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100px;
    width: 100%;
    border-bottom: thin solid lightgrey;
}

header .div-logo {
    width: 170px;
    height: 100%;
}

header div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .div-titulo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}



header nav.menu-barr {
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: space-evenly;
    margin: 43px auto 0;
}


@keyframes show {
    0% {opacity: 0};
    50% {opacity: 0.5};
    100% { opacity: 1;}
}

.main-carrito {
    height: 100%;
    background-size: contain;
    background-attachment: fixed;
}

.contenedor {
    display: flex;
    width: 100%;
    height: 100%;
}

.img-carrito-producto{
    width: 7%;
    height: 7%;
}

.detalle-pedido{
    height: 70%;
    width: 70%;
}
.section-pedidos{
    border: 0.3px solid black;
    border-radius: 10px;
    background-color: #fcfeff;
}

.info-pedido{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
    
}

.producto-pedido{
    display: none;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    border-bottom: 2px solid #f0428d;

}

.select-cantidad-de-productos{
    background-color: #FFC4E1;
    border-style: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.botones-carrito{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
}

.delete{
    background-color: #f44336;
    border-style: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 4%;
    height: 40px;
    border-radius: 20%;
}

.boton-rosa {
    background-color: #e91e63;
    border-style: none;
    box-shadow: 0px 4px 4px rgb(219 104 129 / 65%);
    width: 30%;
    border-radius: 10px;
    
}

div.subtotal-div-info button:hover,
div.producto-pedido button:hover{
    background-color: #f0428d;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgb(187 187 187 / 84%);
   
}

.detalle-subtotal{
    width: 30%;
}

.subtotal-section{
    width: 100%;
    height: 100%;
}

.subtotal-div-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 136px;
    margin-left: 5%;
}

.subtotal-div-info h2{
    text-align: center;
    margin-top: 3%;
}

.subtotal-div-info p{
    text-align: center;
}

.subtotal-div-info button{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
}



@media (max-width: 2560px){
    .contenedor {
        padding: 15px;
    }
}

@media (max-width: 1440px){
    .contenedor {
        padding: 15px;
    }

    .botones-carrito{
        padding-top: 10px;
    }
}

@media (max-width: 768px){
    p {
        font-size: 12px;
    }

    h2{
        font-size: 16px;
    }

    .delete{
        width: 6%;
        height: 30px;
    }

    .img-carrito-producto{
        width: 10%;
        height: 10%;
    }
}

@media (max-width: 425px){
    .contenedor {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .detalle-pedido {
        height: 100%;
        width: 100%;
    }

    .botones-carrito {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .detalle-subtotal {
        width: 80%;
    }

    .subtotal-div-info {
        margin-left: 0px;
    }

    .detalle-subtotal{
        width: 100%;
    }
}   

@media (max-width: 375px){

    .img-carrito-producto{
        width: 13%;
        height: 13%;
    }
    
    p {
        font-size: 10px;
    }
}

@media (max-width: 320px){
    .boton-rosa {
        width: 40%;
    }

    .contenedor{
        padding: none;
    }

    .subtotal-div-info {
        padding-bottom: 20px;
        padding-top: 20px;
    }
} 