@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("footer.css");
body{
    font-family:'Roboto', sans-serif;
    background-image: url('/images/fondo-carrito.png'); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --naranja: #FF2E00;
    --negro: #1B1717;
}
/* i {
    margin-right: 10px;
} */
input:focus,
button:focus,
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control:disabled, .form-control [readonly]{
    background-color: #fff;
}
.table tr,
.table tr td{
    vertical-align: middle;
}
.button-container{
    display: flex;
    align-items: center;
}
.button-container .form-control{
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}
#myTable .form-control{
    width: auto;
    display: inline-block;
}
.cart-qty-plus,
.cart-qty-minus{
    width: 38px;
    height: 38px;
    background-color: orangered;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.cart-qty-plus:hover,
.cart-qty-minus:hover{
    background-color: #5161ce;
    color: #fff;
}
.img-prdct{
    width: 50px;
    height: 50px;
    background-color:orangered;
    border-radius: 7px;
}
.img-prdct img{
    width: 100%;
    
}

 .botones{
    margin-right: 10px;
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    text-transform: uppercase;
    /* width: 10rem; */
    cursor: pointer;
    /* margin: 0.2rem auto 0; */
    
}