@import url('Header.css');
@import url('footer.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
main{
background-color: white;
}
main div p.cantidad_vendida{
 color: #B2B1B9;
 font-size: 10px;
 margin-left: 1rem;
 margin-bottom: 1rem;
 margin-top: 1rem;
 
}
main div.box1{
 gap:2rem;
 padding: 1rem;
}

main  div h4.producto_venta{
 color: #000;
 font-size: 15px;
 margin-left: 1rem;
}
 

main div button.mas_vendido{
 background-color: #FF1700;
 color: #F7F5F2;
 margin-left: 1rem; 
 border-radius: 10%;
 width: 34%;
}

main div span.numero_1{
 color: blue;
 font-size: 11px;
}

main  div img.imagen_herramienta{
 width: 90%;
}

main  div p.precio_anterior {
 color: #9D9D9D;
 font-size: 12px;
 text-decoration: line-through;
}

main  div p.precio_2{
 font-size: 16px;
 color: black;
 margin-bottom: 5px;
 }

main  div span.descuento_off{
font-size: 13px;
color: #77D970;
font-style: italic;
font-weight: bold;
}

main div p {
color: rgb(185, 175, 175);
font-size: 14px;
}
o
main div li.linkaceso{
color: blue;
font-size: small;
text-decoration: none;

}

main div span.dias{
font-size: 13px;
color: #9D9D9D;
text-decoration: underline;
margin-bottom: 25px;
}

main div span.llegahoy{
color: #95CD41;
font-size: 17px;
margin-bottom: 5px;
}
main button.ahora_comprar a{
    
    color: white;
}
h2{
    font-size: medium;
    color: blue;
}
  
main button.ahora_comprar{
    background-color: #FFB72B;
    width: 9rem;
    height: 2rem;
    border-radius: 8%;
    text-align: center;
    margin-left: 2rem;
    margin-bottom: 9px;
   
}

main button.boton_agregaralcarrito{
color: white;
background-color: #666 ;
border-radius: 8%;
margin-left: 2rem;
height: 2rem;
width: 9rem;
}

main div span.protegida{
color: blue;
font-size: 10px;
margin-right: 5rem;
}

div select#cantidad_1{
    
        background-color: #F7F5F2;
        color: #000;
        width: 50%;
        height: 2rem;
    }
 div h2{
    
     color: black;
     font-size: 16px;
   
 }
  section div.card{
      width: 50%;
      margin-top: 2rem;

  }
  section div.card2{
    width: 50%;
  }
 details{
     color: blue;
     margin-right: 5rem;
font-size: 18px;
 }
 details p.descripcion{
     color: #666;
   font-size: 13px;
   margin-left: 2rem;
 }


hr{
    color: #666;
    width: 100%;
    margin-left: 6px;
}

button{
    color: #F7F5F2;
    background-color: blue;
    border-radius: 10%;
    width: 6rem;
    height: 2rem;
}
h2{
    font-size: medium;
    color: blue;
}
  /*---------tablet---------------------*/
@media (min-width:460px){
 
    main div.box1{
        width: 100%;
    }
    main div button.mas_vendido{
        background-color: #FF1700;
        color: #F7F5F2;
        margin-left: 1rem; 
        border-radius: 10%;
        width: 20%;
       }
       div select#cantidad_1{
    
        background-color: #F7F5F2;
        color: #000;
        width: 50%;
        height: 50%;
    }
}
     main  div p del {
         color: hsl(0, 0%, 50%);
         font-size: 14px;
     }
    main  div p.precio_2{
         font-size: 18px;
         color: black;
         margin-bottom: 5px;
         }
    main  div p small.descuento_off{
        font-size: 20px;
    }
    main div p {
     color: rgb(185, 175, 175);
     font-size: 14px;
    }
    
   
    
    
/*-----------------computadora------------------*/
@media (min-width:710px){
    main div.box1{
        gap:2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
     
    div.carousel#carouselExampleSlidesOnly{
        width: 40%;
    }
    div.carousel-inner{
        width: 100%;
    }
    div.p-detalles{
    justify-content: center;
    flex-direction: column;
    display: flex;
    /* border: 1px solid grey; */
    box-shadow: 2px 1px 18px 1px;
    margin-left: 0.3rem;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    }
section.box20{
    display: none;
}
main div button.mas_vendido{
    background-color: #FF1700;
    color: #F7F5F2;
    margin-left: 1rem; 
    border-radius: 6%;
    width: 10%;
    height: 20%;
   }
   
   button{
       color: #F7F5F2;
       background-color: blue;
       border-radius: 10%;
       width: 6rem;
       height: 2rem; }
      
   div select#cantidad_1{ 
    background-color: #F7F5F2;
    color: #000;
    width: 50%;
    height: 2rem;
}
img.card-img-top{
    width: 100%;
    height: 50%;
 }
div.card{
    height: 38rem;
}
}