footer{
    position: relative;
    width: 100%;
    background-color: black;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
footer .social_icon,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;
}
footer .social_icon li a,
footer .menu li a

{
    font-size: 2em;
    color:var(--naranja);
    margin: 0 15px;
    display: inline-block;
    transition: 0.5s;      
}


footer .social_icon li a:hover{
    transform: translateY(-10px);
   
}
footer .menu li a {
    font-size: 1.2em;
    color: var(--naranja);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover {
opacity: 1;
}
footer p {
    color: var(--naranja);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;

}

@media (max-width: 380px){
    
    footer .menu { 
        font-size: 12px;
    }
    footer p {
        font-size: 12px;

    }
    footer .social_icon{
        font-size: 12px;
    }
    footer .menu li a{
        text-align: center;
    }

}

@media (min-width:1440px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}