@import url(Header.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --naranja: #FF2E00;
    --negro: #1B1717;
}


/* MAIN */

main {
    background-color: lightgray;
}

main div.banner {
    display: none;
}


main div.titulo-seccion {
    margin: 10px;
}

main div h3 {
    color: var(--negro);
    font-weight: bolder;
    font-size: 26px;
}

main section {
    padding: 10px;
} 

main section a {
    text-decoration: none;
    color: rgb(187, 173, 173);
}

main section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-bottom: 1rem;
    align-items: center;
}

main section article div.img-producto {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main section article div.img-producto img {
    width: 100%;
    margin: 1rem;
}

main section article p {
    height: fit-content;
    margin: 10px;
}

main section article p.sale-off {
    position: absolute;
    margin: 5px 10px;
    bottom: 1rem;
    left: 0;
    background: var(--naranja);
    color: white;
    border-radius: 6px;
    padding: 5px;
}

main section article p.precio {
    font-weight: 900;
    font-size: 1.5rem;
}

/* Section Categorias */

main section.categorias div.img-link {
    display: flex;
    position: relative;
    width: 100%;
    margin: 10px 0px;
}

main section.categorias div.img-link img {
    width: 100%;
}

main section.categorias div.img-link span {
    text-align: center;
    background-color: rgba(27, 23, 23, 0.8);
    width: 80%;
    padding: 0.8rem;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 10.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.categorias div.img-link span a {
    font-size: 21px;
    width: 100%;
    font-weight: bolder;
}


/* Media Queries */

/* TABLET */

@media (min-width: 700px) {
    main div.banner {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
        position: relative;
    }

    main div.banner .ver-mas {
        display: flex;
        position: absolute;
        top: 45%;
        right: 30px;
        border: none;
        border-radius: 5px;
        background-color: var(--negro);
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        height: 1.5rem;
        padding: 2px;
    }

    main div.banner .ver-mas a {
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
    }

    
    main div.banner img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    main section {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding-bottom: 10px;
        margin-top: 40px;
    }
    main section article {
        width: 40%;
        margin-bottom: 0px;
    }

    main section article div.img-producto .image-container {
        width: 100%;
        height: 100%;
    }

    main section article div.img-producto {
        height: 300px;
    }

    main section.categorias {
        gap: 0.5rem;
    }

    main section.categorias div.img-link  {
        width: 40%;
        margin: 0px;
    }
}

/* DESKTOP */

@media (min-width: 1024px) {
    main section article {
        width: 20%;
        transition: all 0.5s ease-out;
    }

    main section article:hover {
        box-shadow: 1px 1px 10px rgba( 0, 0, 0, 0.8);
    }

    main section.categorias div.img-link {
        width: 30%;
    }

    main section.categorias div.img-link a:hover {
        color: white;
    }

}
