 header{
    width: 100%;
  }
  
  body.forms {
      gap: 2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      flex-direction: column;
      margin: 0;
      padding: 0;
      background-image: url('/images/BIKE.jpg'); 
      font-family: 'Nunito Sans', sans-serif;
      background-repeat: no-repeat;
      background-size: contain;
      background-size: cover;
      background-position-y: -7rem;
  
  }
  body.forms a{
    font-size: 0.8rem;
    text-decoration: none;
  }
  body.forms h2{
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
  
  }
  body.forms hr{
    background: linear-gradient(90deg , black , white );
    height: 2px;
    margin-bottom: 3rem;
    width: 100%;
  }
  body.forms section.form-container{
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(251 251 251 / 10%);
    width: 100%;
    /* border: solid 3px rgb(230, 93, 2 ,0.6) ; */
    box-shadow: 2px 2px 9px 4px black;
  }
  body.forms form {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    height: 390px;
  }
  body.forms form .input-container,
  body.forms form .button-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }

  body.forms form input.input-style,
  body.forms form select.input-select {
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    background-color: white;
  }
  body.forms form input:focus{
    outline: none;
  }
  body.forms form input::placeholder{
    color: rgb(121, 119, 119);
  }
  body.forms form label{
    font-size: 0.8rem;
  }
  div.logo-img{
    width: 20rem;
    display: flex;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }
  img.google-logo{
    height: 1.4rem;
    padding-top: 4px;
  }
  
  /* Botons Styles */
  
  button.btn{
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    text-transform: uppercase;
    width: 8rem;
    cursor: pointer;
    margin: 0.2rem auto 0;
  
  }
  
  .btn-submit {
    background:  linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgb(230, 93, 2) 50%);
    color: rgb(75, 75, 75);
    font-weight: bold;
    transition: all 0.5 ease;
  }
  
  .btn-submit:hover {
    color: rgb(2, 2, 2);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgb(230, 93, 2) 50%);
  }
  section.login div.input_check-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
    
}
section.form-container.login a{
  color: blue;
}
form div.btn-container{
    flex-direction: column-reverse;
    display: flex;
}
section.login {
    max-width: 375px;
}
div.google{
    display: flex;
    height: 2rem;
    margin-bottom: 1rem;
    border: none;
    width: 14rem;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1rem;
}
div.google button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 12px 2px ;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div.google button:hover{
  color: white;
  background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgb(74, 77, 245) 50%);
  font-weight: bold;
  transition: all 0.5 ease;

}

/* Clase para mensajes para consumir desde el front */

.error-message {
  font-family: sans-serif;
  padding: 3px;
  color: red;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
}


.valid-message {
  border: 1.8px solid green;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}

.custom-msg {
  width: 80%;
  padding: 10px;
  text-align: center;
}

.error-view {
  border: 1.8px solid red;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}
