* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
section.Presentacion{
        padding: 2rem;
        text-align: justify;
        border: 5px solid orangered;
        border-radius: 20px;
}
section.Presentacion h1{
    text-align: center;
    text-decoration: underline;

}
section.grupo h2 {
    text-align: center;
    text-decoration: underline;

}
section.grupo{
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 20px;
    -webkit-text-stroke-width: thin;
    width: 20rem;
    height: 10rem;
    position: absolute;
    top: 18%;
    right: 0%;
    font-size: 10px;

}
.flex{
    display:flex;
    justify-content: center;
}
.flex_mod {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-right: .5rem;
}
img.avatares{
    margin-right: -.5rem;
    max-width: 100%;
    border-radius: 9999px;
    border: solid 2px #fc4374;
    transition: .3s all ease;
    height: 4rem;
    cursor: pointer;
}
img.avatares:hover{
    transform: scale(1.3);
/* -------------------------------- */
}

div.links a {
    margin: 10px;
}
#integrantes{
    display: none;
}
#cerrar-ventana , #cerrar-ventana2,
#cerrar-ventana3 {
    position: absolute;
    top: 1rem;
    right: 2rem;
   
}
.conocenos {
    display: flex;
    flex-direction: row;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}
.Robert , .Brian 
,.Carlos{
    margin: 10px;
    border: 0.1rem solid #7C7E82;
    border-radius: 13px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 450px;
    background-color: rgb(245 161 110);
    transition: all 0.5s;
    position: absolute;
    margin: 0 auto;
    left: 16%;
    bottom: 100%;
    text-align: center;
    
}


.linkA {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s;
}

.linkA:hover{
    color: red;
}

.divImg {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: all 0.5s;
    
}

.AvatarPerfil {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    border: 0.1rem solid black;
    
}

.nombresCreadores {
    margin-top: 10px;
    font-size: 20px;
    font-family: cursive;
}
#integrantes.active{
    opacity: 1;
    transform: scale(1);
    display: flex;
    animation:entrada 1s  ease-in;
    bottom:20%
    
}

@keyframes entrada{
    0%{bottom: -100%;}
    100%{bottom:30%}
}
@media(max-width:1000px){
    section.grupo{
        top:20%;
        right: -5%;
        
    }
    img.avatares {
        height: 3rem;
        }
}
@media(max-width:700px){
.Robert , .Brian ,.Carlos{
    width: 80%;
    left: 10%;
    }
    #integrantes.active {
        opacity: 1;
        transform: scale(1);
        display: flex;
        animation: entrada 1s ease-in;
        bottom: -10%;
    }
    @keyframes entrada{
        0%{bottom: -100%;}
        100%{bottom:-10%}
    }
    section.grupo{
        top:29%;
        
    }
    img.avatares {
    height: 3rem;
    }
}