.slider {
    width: 100%;
    height: auto;
    margin: 16.49px auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite /* forwards alternate */ /* ease-in-out */;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}

}
