@import url('variables.css');

a {
    color: white;
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

main article { /* Vista previa sacar */
    border: thin solid lightgrey;
}

main .user-profile {
    padding: 10px;
    position: relative;
}

main .user-profile .image-profile {
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
    padding: 5px
}

main .user-profile .image-profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

main .detail {
    border: thin solid lightgrey; /* Sacar vista previa */
    padding: 10px
}

main .detail .edit-button {
    text-align: center;
    margin: 5px 0px 20px;
}

main .detail .edit-button button {
    height: 1.5rem;
    background-color: var(--naranja);
    border-radius: 8px;
    padding: 15px;
    border-style: none;
}

main .detail .edit-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

main .user-products {
    padding: 10px;
    background-color: var(--fondo);
}

main .user-products h2 {
    margin: 5px 0px 25px 10px;
}

main .recent-product {
    background-color: white;
    margin: 10px 0px;
}

main .recent-product .image-product {
    width: 30%;
    height: 20%;
    margin: 0 auto;
    padding: 15px;
}

main .recent-product .image-product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main .recent-product .product-detail {
    padding: 10px;
}

main .recent-product .product-detail p{
    margin: 10px 0px;
}

/* MEDIA QUERIES */

/* TABLET */

@media (min-width: 768px) {
    main .user-profile .image-profile {
        margin: 20px auto;
        width: 30%;
    }

    main .detail .user-detail li{
        font-size: 1.3rem;
    }

    main .detail .edit-button {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .detail .edit-button button {
        height: 60%;
    }

    main .recent-product .image-product {
        width: 20%;
        height: 20%;
        margin: 0 auto;
    }
}

/* FIN TABLET */


/* DESCKTOP */

@media (min-width: 1024px) {
    main {
        display: flex;
    }

    main .user-profile {
        width: 30%;
    }

    main .user-products {
        width: 70%;
    }

    main .detail .user-detail li{
        margin: 10px 0px;
    }

    main .user-products h2 {
        margin: 25px 0px 25px 10px;
    }

    main .user-products .recent-product {
        margin: 15px 5px;
        border: thin solid;
        display: flex;
    }

    main .recent-product .image-product {
        margin: 0 auto;
    }
}