


  

.item {
  
  border: 2px solid orangered;
  padding: 10px;
  border-radius: 20px;
}
.item-price{
  
  color:orangered;
  
  
      
}



.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 100%;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid or;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}


*{
  margin: 0;
  padding: 0;
  font-size: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
footer body{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: #333;
}
footer{
  position: relative;
  width: 100%;
  background-color: black;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
footer .social_icon,
footer .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
  list-style: none;
}
footer .social_icon li a,
footer .menu li a

{
  font-size: 2em;
  color:orangered;
  margin: 0 15px;
  display: inline-block;
  transition: 0.5s;      
}


footer .social_icon li a:hover{
  transform: translateY(-10px);
 
}
footer .menu li a {
  font-size: 1.2em;
  color: orangered;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
opacity: 1;
}
footer p {
  color: orangered;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;

}

@media (max-width: 380px){
  
  footer .menu { 
      font-size: 12px;
  }
  footer p {
      font-size: 12px;

  }
  footer .social_icon{
      font-size: 12px;
  }
  footer .menu li a{
      text-align: center;
  }
 

}