<div class="contenedor-banner">
    <div class="banners">
        <ul class="banner-list">
            <li class="marcas"><img src="../../../images/banners/logo-aurora.jpg" alt="Aurora logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-fiorenza.png" alt="Fiorenza logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-firebird.png" alt="Fire bird logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-cicli-olimpia-2019.png" alt="Olimpia logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-olmo-fondo-blanco.jpg" alt="Olmo logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-raleigh.jpg" alt="Raleigh logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-scott.png" alt="Scott logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-bule.webp" alt="Shimano logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-topmega.png" alt="Top mega logo"></li>
            <li class="marcas"><img src="../../../images/banners/logo-venzo.png" alt="Venzo logo"></li>
        </ul>
    </div>
</div>
