<div id="carrusel">
    <ul class="slider">
        <li id="slide1">
            <img src="/images/carrusel/Banner-1.png" alt="">
        </li>
        <li id="slide2">
            <img src="/images/carrusel/Banner-2.png" alt="">
        </li>
        <li id="slide3">
            <img src="/images/carrusel/Banner-1.svg" alt="">
        </li>
    </ul>
    <ul class="menu">
        <li>
            <a href="#slide1"></a>
        </li>
        <li>
            <a href="#slide2"></a>
        </li>
        <li>
            <a href="#slide3"></a>
        </li>
    </ul>
</div>
