<footer>
    <div class="footer__contenido">
        <div class="columns__references">
            <div class="tittle__columns">
                <strong>Ayuda</strong>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="columns">
                <ul>
                    <li><a href="#">Atención al cliente</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Envios</a></li>
                    <li><a href="#">Devoluciones</a></li>
                </ul>
            </div>
        </div>
        <div class="columns__references">
            <div class="tittle__columns">
                <strong>Sobre nosotros</strong>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="columns">
                <ul>
                    <li><a href="#">Conocenos</a></li>
                    <li><a href="#">Términos de uso</a></li>
                </ul>
            </div>
        </div>
        <div class="columns__references">
            <div class="tittle__columns">
                <strong>Contacto</strong>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="columns">
                <ul>
                    <li class="contact__icons"><i class="fa-brands fa-whatsapp"></i><a href="https://web.whatsapp.com/" target="_blank">+54 1512332115</a></li>
                    <li class="contact__icons"><i class="fa-solid fa-envelope"></i><a href="https://gmail.com" target="_blank">bikesmastergrupo11@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="columns__references">
            <div class="tittle__columns">
                <strong>Medios de pago</strong>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="columns">
                <ul>
                    <li class="pagos">
                        <img src="/images/pagos/pagos.png" alt="">
                    </li>
<!--                     <li><a href="#">Turnos para taller</a></li>
                    <li><a href="#">Garantía</a></li>
                    <li><a href="#">Armado de bicicletas</a></li> -->
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__contenido">
        <ul class="social_icon">
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/?lang=es" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/?hl=es-la" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
        </ul>
    </div>
    <p>Grupo 11 - Comision 13 - &#169; Derechos Reservados.</p>
</footer>