<header>
    <div class="contenedor_header">
        <div class="logo_container">
           <a href="/"><img src="/images/logo-2.svg" alt="logo" class="logo"></a> 
        </div>

        <div class="buscador">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar productos" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="botones">
            <button class="carrito" ><a href="carrito"><img src="/images/carrito.svg" alt="carrito" class="carrito"></a></button>
            <nav class="nav_cuenta">
                <input type="checkbox" id="cuenta" class="botton">
                <label class="cuenta" for="cuenta"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg></label>
                    <ul class="acceso">
                        <button class="inicio"><a href="login">Iniciar Sesion</a></button>
                        <button class="registrar"><a href="registrarse">Registrarse</a> </button>
                    </ul>
            </nav>
        </div>   
    </div>
               
    <nav>
        <input type="checkbox" id="menu" class="botton">
        <label for="menu"><i class="fas fa-bars"></i>  </label>
        <ul>
            <li id="app_nav"><a href="registrarse">Registrarse</a></li>
            <li id="app_nav"><a href="login">Cuenta</a></li>
            <li id="app_nav"><a href="carrito">Carrito</a></li>
            <li><a href="/">Accesorios</a></li>
            <li><a href="/">Bicicletas</a></li>
            <li><a href="/">Fitnes</a></li>
            <li><a href="/">Indumentaria</a></li>
            <li><a href="/">Repuestos</a></li>
            <li><a href="/">Nosotros</a></li>
            <li><a href="/">Consejos</a></li>
           
        </ul>
    </nav>
</header>

