<header>
    <div class="checkbox">
        <input id="checkbox" type="checkbox" >
    </div>
    <div class="contenedor_header">
        <div class="logo_container">
           <a id="logo__link" href="/"><img src="/images/logo-2.svg" alt="logo" class="logo"></a> 
        </div>

        <div class="buscador">
            <form id="buscador" action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar productos" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="botones">
            <button class="carrito" id="darkMode" >Modo Oscuro</button>
            <% if (typeof session.user != "undefined" && session.user.rol == 2) { %>
            <button class="carrito" ><a href="/admin">Admin</a></button>
            <% } %> 
            <button class="carrito" ><a href="/usuario/carrito"><img src="/images/carrito.svg" alt="carrito" class="carrito"></a></button>

            <nav class="nav_cuenta">
                <input type="checkbox" id="cuenta" class="botton">
                <% if (typeof session.user != "undefined") { %>
                <div class="inline" target="<%=session.user.id%>"></div>
                <label class="cuenta" for="cuenta" style="border:1px solid green;"><img id="avatar" src="/images/profile/<%= session.user.avatar%>" alt=""></label>
                <% }else{ %> 
                    <label class="cuenta" for="cuenta"><img src="/images/profile/user-default.png" alt="" id="avatarImg"></label>
                    <% } %>
                    <ul class="acceso">
                        <% if (typeof session.user != "undefined") { %>
                            <button class="inicio"><a href="/usuario/perfil/<%= session.user.id %>">Perfil</a></button>
                            <button class="registrar"><a href="/usuario/logout">Cerrar Session</a></button>
                        <% }else{ %> 
                            <button class="inicio"><a href="/usuario/login">Iniciar Sesion</a></button>
                            <button class="registrar"><a href="/usuario/registrarse">Registrarse</a> </button>
                            <% } %> 
                        
                    </ul>
            </nav>
        </div>   
    </div>
               
    <nav>
        <input type="checkbox" id="menu" class="botton">
        <label for="menu"><i class="fas fa-bars"></i>  </label>
        <ul>
            <% if (typeof session.user != "undefined") { %>
            <% if (session.user.rol == 2) { %>
                <li id="app_nav"><a href="/admin">Admin</a></li>
                    <% } %>
                    
            <li id="app_nav"><a href="/usuario/perfil/<%= session.user.id %>">Perfil</a></li>
            <li id="app_nav"><a href="/usuario/logout">Cerrar Sesion</a></li>
            <li id="app_nav"><a href="/usuario/carrito">Carrito</a></li>
            
            <% }else{ %> 
            <li id="app_nav"><a href="/usuario/login">Iniciar session</a></li>
            <% } %> 
            <li><a href="/producto/categoria/4">Accesorios</a></li>
            <li><a href="/producto/categoria/1">Bicicletas</a></li>
            <li><a href="/producto/categoria/6">Herramientas</a></li>
            <li><a href="/producto/categoria/5">Indumentaria</a></li>
            <li><a href="/producto/categoria/3">Repuestos</a></li>
            <li><a href="/Nosotros">Nosotros</a></li>
            <li><a href="/">Consejos</a></li>
           
        </ul>
    </nav>

</header>

