<header>
    <div class="contenedor_header">
        <div class="logo_container">
           <a href="/"><img src="/images/logo-2.svg" alt="logo" class="logo"></a> 
        </div>

        <div class="buscador">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar productos" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="botones">
            <% if (typeof session.user != "undefined") { %>
            <button class="carrito" ><a href="carrito"><img src="/images/carrito.svg" alt="carrito" class="carrito"></a></button>
            <button class="carrito" ><a href="/admin">Admin</a></button>
            <% } %> 
            
            <nav class="nav_cuenta">
                <input type="checkbox" id="cuenta" class="botton">
                <label class="cuenta" for="cuenta"><img src="/images/profile/user-default.png" alt=""></label>
                    <ul class="acceso">
                        <% if (typeof session.user != "undefined") { %>
                            <button class="inicio"><a href="/">Perfil</a></button>
                            <button class="registrar"><a href="/logout">Cerrar Session</a></button>
                        <% }else{ %> 
                            <button class="inicio"><a href="/login">Iniciar Sesion</a></button>
                            <button class="registrar"><a href="/registrarse">Registrarse</a> </button>
                            <% } %> 
                        
                    </ul>
            </nav>
        </div>   
    </div>
               
    <nav>
        <input type="checkbox" id="menu" class="botton">
        <label for="menu"><i class="fas fa-bars"></i>  </label>
        <ul>
            <% if (typeof session.user != "undefined") { %>
            <li id="app_nav"><a href="/">Perfil</a></li>
            <li id="app_nav"><a href="/logout">Cerrar Sesion</a></li>
            <li id="app_nav"><a href="carrito">Carrito</a></li>
            <% }else{ %> 
            <li id="app_nav"><a href="/login">Iniciar session</a></li>
            <% } %> 
            <li><a href="/detalle/categori/4">Accesorios</a></li>
            <li><a href="/detalle/categori/1">Bicicletas</a></li>
            <li><a href="/detalle/categori/6">Herramientas</a></li>
            <li><a href="/detalle/categori/5">Indumentaria</a></li>
            <li><a href="/detalle/categori/3">Repuestos</a></li>
            <li><a href="/">Nosotros</a></li>
            <li><a href="/">Consejos</a></li>
           
        </ul>
    </nav>
</header>

