<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adminIndex.css">
    <title>Administrador</title>
</head>
<!-- Nombre del producto (​name​)
● Descripción (​description​)
● Imagen (​image​)
● Categoría (​category​)
● Colores (o cualquier otro campo similar como: tamaños, talles, etc)
● Precio (​price​) -->
<body>
    <main>
        <table>
            <caption>Lista general de productos</caption>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bicicleta R29</td>
                    <td>Venzo</td>
                    <td>Bicicletas</td>
                    <td>$35.000</td>
                    <td>Alto</td>
                    <td>5%</td>
                    <td>imagen.jpg</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Inflador de mano</td>
                    <td>Patito</td>
                    <td>Accesorios</td>
                    <td>$1.500</td>
                    <td>Medio</td>
                    <td>N/A</td>
                    <td>Sin imagen disponible</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Inflador de mano</td>
                    <td>Patito</td>
                    <td>Accesorios</td>
                    <td>$1.500</td>
                    <td>Medio</td>
                    <td>N/A</td>
                    <td>Sin imagen disponible</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>