<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/adminIndex.css">
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="/images/logo-2.svg" alt="logo-Bikes">
        </div>
        <div class="div-titulo">
            <h2>Administrador</h2>
        </div>
    </header>

    <main>
        <div class="register">
            <h2 class="titulo">Agregar Producto</h2>            
            <form action="" method="" class="form-register">
                    <div class="register-input">
                        <label for="nombre">Nombre de producto</label>
                        <input type="text" name="nombre" class="input-style"placeholder="Ingrese nombre de producto">
                    </div>
                    <div class="register-input">
                        <label for="marca">Marca</label>
                        <input type="text" name="marca" class="input-style"placeholder="Ingrese marca">
                    </div>
                    <div class="register-input">
                        <label for="precio">Precio</label>
                        <input type="num" name="precio" class="input-style"placeholder="Ingrese precio">
                    </div>
                    <div class="register-input">
                        <label for="modelo">Modelo</label>
                        <input type="email" name="modelo" class="input-style"placeholder="Ingrese Modelo">
                    </div>
                    <div class="register-input">
                        <label for="descuento">Descuento</label>
                        <input type="text" name="descuento" class="input-style">
                    </div>
                    <div class="register-input">
                        <label for="color">Colores</label>
                        <input type="tex" name="color" class="input-style">
                    </div>
                    <div class="register-input">
                        <label for="file">subir archivo</label>
                        <input type="file" name="file">

                    </div>
                    <div class="register-input">
                        <label for="description">Detalles</label>
                        <textarea name="description" id="" cols="30" rows="3"></textarea>
                    </div>
            </form>
            <div class="btn_register">
                 <button type="submit" class="btn-submit_register">Agregar</button>
                 <span><a href="/admin">Admin</a></span>
            </div>
        </div>
    </main>
    
</body>
</html>