<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/adminIndex.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="/images/logo-2.svg" alt="logo-Bikes">
        </div>
        <div class="div-titulo">
            <h2>Administrador</h2>
        </div>
    </header>

    <main>
        <div class="register">
            <h2 class="titulo">Editar Producto</h2>            
            <form action="" method="" class="form-register">
                    <div class="register-input">
                        <label for="nombre">Nombre de producto</label>
                        <input type="text" name="nombre" class="input-style"placeholder="Ingrese nombre de producto" value="Bicicleta R29">
                    </div>
                    <div class="register-input">
                        <label for="marca">Marca</label>
                        <input type="text" name="marca" class="input-style"placeholder="Ingrese marca" value="Olmo">
                    </div>
                    <div class="register-input">
                        <label for="precio">Precio</label>
                        <input type="num" name="precio" class="input-style"placeholder="Ingrese precio" value="$56.000">
                    </div>
                    <div class="register-input">
                        <label for="modelo">Modelo</label>
                        <input type="email" name="modelo" class="input-style"placeholder="Ingrese Modelo" value="MTB">
                    </div>
                    <div class="register-input">
                        <label for="descuento">Descuento</label>
                        <input type="text" name="descuento" class="input-style" value="5%">
                    </div>
                    <div class="register-input">
                        <label for="color">Colores</label>
                        <input type="tex" name="color" class="input-style" value="Negro-Naranja">
                    </div>
                    <div class="register-input">
                        <label for="file">subir archivo</label>
                        <input type="file" name="file">

                    </div>
                    <div class="register-input">
                        <label for="description">Detalles</label>
                        <textarea name="description" id="" cols="30" rows="3">La mejor bicicleta del condado</textarea>
                    </div>
            </form>
            <div class="btn_register">
                 <button type="submit" class="btn-submit_register">Guardar Cambios</button>
                 <span class="admin"><a href="/admin">Admin</a></span>
            </div>
        </div>
    </main>
    <footer> 

        <ul class="social_icon">
            <li><a href="https://www.facebook.com/">
                    <ion-icon name="logo-facebook">
                        </ion-icon.com>
                </a></li>
            <li><a href="https://twitter.com/?lang=es">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
            <li><a href="https://www.instagram.com/?hl=es-la">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            <li><a href="https://www.youtube.com/">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a></li>
    
        </ul>
        <ul class="menu">
            <li><a href="https://www.mercadopago.com.ar/">MercadoPago</a></li>
            <li><a href="https://www.masterconsultas.com.ar/"> Master Card</a></li>
            <li><a href="https://www.visa.com.ar/">Visa</a></li>
            <li><a href="https://www.e-pagofacil.com/">PagoFacil</a></li>
        </ul>
        <p>Comision 13 - Grupo 11 - &#169; Derechos Reservados.</p>
    </footer>
</body>
</html>