<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head') %> 
    <link rel="stylesheet" href="../../../css/Nosotros.css">
    <script src="/js/nosotros.js" defer></script>
<body>
    <%- include ('../partials/header') %> 
    <br>
    <section class="Presentacion">

    <H1>Bienvenidos a Bikes-Master</H1>
    <br>
<H4>¿Qué es Bikes-Master y Para que sirve?</H4>
<br>
<P> Bikes-Master es una plataforma ecommerce que ofrece la venta de accesorios, herramientas, bicicletas y productos relacionados con el mundo del ciclismo. Este sitio esta completamente relacionado para los amantes a las bicicletas dándoles el mejor servicio a la hora de usar nuestra plataforma.

Puedes vender todos tus productos, en todo el país sin importar dónde residas. Tu cuenta de Bikes-Master puede ser un complemento de tu local a la calle o ser tu único canal de ventas. La plataforma de comercio electrónico de Biker-Master aumenta el volumen de ventas si ofreces buenos productos a buenos precios.

Bikes-Master: entrega rápida y segura

Con Biker-Envios todos tus productos están protegidos y si algo les sucede, cuentas con nuestro respaldo. Nosotros nos encargamos de acordar las tarifas con las empresas de logística más importantes del país para ofrecer precios competitivos a todos los usuarios. Puedes seguir el recorrido de tus ventas y administrar tu negocio sin preocuparte por la seguridad de tus envíos.
¿como surgió Bikes-Master?

Primero comenzó como un “supuesto proyecto lejano” hasta que después de tanto hablarlo nos unimos entre 4 ex compañeros en busca de poder cumplir nuestro primer ecommerce , al comienzo no fue fácil porque no teníamos específicamente elegido cual seria el producto o servicio que ofreceríamos, ¿que haríamos?, hasta que después de tanto dialogar, decidimos optar a lo que teníamos un poco de mas conocimientos previos, las Bicicletas y todo lo relacionado a ellas, ejemplos: herramientas, accesorios. Después basándonos de información buscada pudimos ver que en argentina no existe una pagina especifica que ayude a facilitar exclusivamente el acceso a sus accesorios y herramientas. Entonces se nos ocurrió crear Bikes-Master, buscando atreves de nuestro servicio optimizar el acceso a todo lo que sea necesario para conseguir una bicicleta, como también para conseguir herramientas todo en un mismo lugar, sin tener que salir a buscar, el sitio estaría dividido en sectores buscando que sea más entendible para nuestro publico, buscando brindarles calidad. fue todo un desafió 4 mentes distintas buscando un mismo objetivos, le dedicamos muchas horas de trabajo, cada uno de nosotros coloco una parte fundamental a la hora de trabajar en equipo, y buscamos seguir perfeccionando el ecommerce. Para nosotros este es el comienzo, constante buscaremos actualizar el ecommerce buscando generar el máximo rendimiento.</P>
<br>
</section>
<section class="grupo">
<H2>Integrantes</H2>
        
</div>
<div class="flex"><div class="flex_mod">
    <img class="avatares" id="Brian" src="../../../images/profile/1656729019972-profile.png" alt="Carlos">
    <img class="avatares" id="Robert" src="../../../images/profile/1656744610607-profile.jpg" alt="Brian">
    <img class="avatares" id="Carlos" src="../../../images/profile/1656729019972-profile.png" alt="Robert">
</div></div>
</section>
<main>

    <div class="Robert" id="integrantes">   
        <a class="linkA" id="linkT">
            <div class="divImg">
                <img src="../../../images/profile/1656744610607-profile.jpg" class="AvatarPerfil">
            </div>
            <div>
                <h4 class="nombresCreadores">Robert</h4>
                <h7>Desarrollador Full Stack</h7>
                <div class="overlayAdrian" id="overlayAdrian">
                    <div class="popupAdrian" id="popupAdrian">
                        <i id="cerrar-ventana" class="fa-solid fa-xmark"></i>
                        <h3>Sobre mi:</h3>
                        <p>Soy un crack.<br> Si queres saber mas sobre mi, te dejo los siguientes links:</p>
                        <div class="links">
                            <a href="https://github.com/ROBERT-Gimenez" target="_blank"><i class="fa-brands fa-github"></i> github</a>
                            <a href="https://www.linkedin.com/in/robert-gimenez-32b87b229/" target="_blank"><i class="fa-brands fa-linkedin"></i> linkedin</a>
                        </div>
                        
                    </div>
                    
                    </div>
                
            </div>
        </a>
    </div>
    <div class="Carlos" id="integrantes">   
        <a class="linkA" id="linkT">
            <div class="divImg">
                <img src="../../../images/profile/1655939685965-profile.jpg" class="AvatarPerfil">
            </div>
            <div>
                <h4 class="nombresCreadores">Carlos</h4>
                <h7>Desarrollador Full Stack</h7>
                <div class="overlayAdrian" id="overlayAdrian">
                    <div class="popupAdrian" id="popupAdrian">
                        <i id="cerrar-ventana2" class="fa-solid fa-xmark"></i>
                        <h3>Sobre mi:</h3>
                        <p>Soy un crack.<br> Si queres saber mas sobre mi, te dejo los siguientes links:</p>
                        <div class="links">
                            <a href="https://github.com/CarlosMorenoS" target="_blank"><i class="fa-brands fa-github"></i> github</a>
                            <a href="https://www.linkedin.com/in/carlos-moreno-sanabria-426b19240/" target="_blank"><i class="fa-brands fa-linkedin"></i> linkedin</a>
                        </div>
                        
                    </div>
                    
                    </div>
                
            </div>
        </a>
    </div>
    <div class="Brian" id="integrantes">   
        <a class="linkA" id="linkT">
            <div class="divImg">
                <img src="../../../images/profile/1656729019972-profile.png" class="AvatarPerfil">
            </div>
            <div>
                <h4 class="nombresCreadores">Brian</h4>
                <h7>Desarrollador Full Stack</h7>
                <div class="overlayAdrian" id="overlayAdrian">
                    <div class="popupAdrian" id="popupAdrian">
                        <i id="cerrar-ventana3" class="fa-solid fa-xmark"></i>
                        <h3>Sobre mi:</h3>
                        <p>Soy un crack.<br> Si queres saber mas sobre mi, te dejo los siguientes links:</p>
                        <div class="links">
                            <a href="https://github.com/BrianFloresOk" target="_blank"><i class="fa-brands fa-github"></i> github</a>
                            <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i> linkedin</a>
                        </div>
                        
                    </div>
                    
                    </div>
                
            </div>
        </a>
    </div>
</main>





<%- include("../partials/footer") %> 

<script src="/js/index.js"></script>
</body>
</html>
