<header>
    <div class="div-logo">
        <a href="/" id="logo-link"><img src="/images/logo-2.svg" alt="logo-Bikes"></a>
    </div>
    <div class="div-titulo">
        <h2>Administrador de <%= session.user.name  %> 
        </h2>
    </div>
</header>