<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %> 
    
    
</head>
<body>

    <%- include('../partials/header') %> 
    
    <main>
        <div class="register">
        <div id="head-logo">
            <h2>Agregar direcci贸n</h2>
        </div>
        <form class="form-register" id="formulario" action="/usuario/perfil/<%= session.user.id %>" method="post">
            <div class="register-input">
                <label for="direccion">Direcci贸n</label>
                <input type="text" name="direccion" id="direccion" class="input-style" placeholder="Ingrese su calle">
                <small class="text-danger" id="inputDireccionError"></small>
            </div>
            <div class="register-input">
                <label for="altura">Altura</label>
                <input type="number" name="altura" id="altura" class="input-style" placeholder="Ingrese la altura">
                <small class="text-danger" id="inputAlturaError"></small>
            </div>
            <div class="register-input">
                <label for="postal">C贸digo postal</label>
                <input type="number" name="postal" id="postal" class="input-style" placeholder="C贸digo postal">
                <small class="text-danger" id="inputPostalError"></small>
            </div>

            <div class="register-input">
                <label for="provincia">Provincia</label>
                <select name="provincia" id="provincia" class="input-style">
                    <option value=""></option>
                </select>
                <small class="text-danger" id="provinciaError"></small>
               
            </div>
            <div class="register-input">
                <label for="localidad">Localidad</label>
                <select name="localidad" id="localidad" class="input-style">
                    <option value=""></option>
                </select>
                <small class="text-danger" id="localidadError"></small>
                 
            </div>
            
            <div class="btn_register">
                <button class="btn-submit_register" type="submit">Guardar</button>
                <small class="text-danger" id="submitError"></small>
            </div>
        </form>
        </div>
    </main> 

    <%- include('../partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="/js/addDirectionValidation.js"></script>
</body>
</html>